.scroll-to-top-button {
    background-color: transparent;
    border: none;
    position: fixed; 
    right: 0;
    margin: 1rem;
    /*using bottom makes it goes above */
    bottom: 0;
    font-size: 1.5rem;
    transition: transform 0.3s ease-in-out;
}
.scroll-to-top-button:hover {
    transform: scale(1.2);
    cursor: pointer; 
}